@use 'sass:color';
@use './variables' as *;


.text-center {
    text-align: center;
  }
  
  .mt-2 {
    margin-top: $spacing-unit * 2;
  }
  
  .mb-2 {
    margin-bottom: $spacing-unit * 2;
  }
  
  .padding-standard {
    padding: $spacing-unit * 4;
  }
  